body {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.scene-overlay {
    padding: 2.5em;
    position: absolute;
    right: 0;
    top: 0;

    .o-open {
        color: #ffffffda;
        font-size: 2.5em;
        cursor: pointer;

        &.hide {
            opacity: 1;
        }
        
        &.show {
            opacity: 0;
        }
    }
}

.about-overlay {
    &.expand {
        transform: translateX(0);
    }

    &.collapse {
        transform: translateX(100%);
    }

    position: absolute;
    right: 0;
    top: 0;
    width: 35vw;
    height: 100vh;
    padding: 3em;
    transform: translateX(100%);
    transition: transform 0.8s cubic-bezier(0.76, 0, 0.24, 1);

    background-color: #ffffff;
    
    .o-header {
        display: block;
        margin-bottom: 1em;
        height: 10%;
        .o-title {
            color: #383838;
            font-weight: 600;
            font-size: 2.85rem;
            text-transform: uppercase;
            float: left;
        }
    
        .o-close {
            color: #383838;
            font-size: 2.85rem;
            float: right;
            cursor: pointer;
            transition: transform 0.1s ease-in-out;

            &:hover {
                transform: scale(1.1);
                transform: translate(-110%, -110%);
            }
        }
    }

    .o-body {
        margin-top: 2vh;
        
        color: #494949;
        font-weight: 400;
        font-size: 0.95em;
        line-height: 1.5;
        
    }

}

@keyframes oscillate {
    0% {
        transform: translateX( -50px );
    }
    100% {
        transform: translateX( 50px );
    }
}

.instruction-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background-color: rgba(53, 53, 53, 0.534);
    opacity: 1;
    
    &.hide {
        opacity: 0;
    }

    .wrapper {
        margin: auto;
        text-align: center;

        p {
            font-weight: 600;
            color: white;
            font-size: 2.5rem;
        }

        div {
            animation-name: oscillate;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            
            i {
                color: white;
                font-size: 3.5rem;
            }
        }

    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.preloader-overlay {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #28282B;

    &.hide {
        animation-name: hide;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-delay: 1.5s;
    }

    p {
        color: white;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 2em;
    }

    * {
        margin: auto;
    }
}